@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap");

* {
  margin: 0;
}

:root {
  --clr-violet-light: #6649c1;
  --clr-violet-dark: #332167;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(22, 16, 45);
  font-family: "Dongle", sans-serif;
}

.container {
  height: 60vw;
  width: 60vw;
  max-width: 550px;
  max-height: 550px;
  background-color: var(--clr-violet-light);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
  padding: 15px;
  border-radius: 20px;
  position: relative;
}

.grid-cell {
  background-color: var(--clr-violet-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  transition: all 0.2s;
  cursor: pointer;
  user-select: none;
}

.grid-cell:hover {
  transform: scale(0.95);
}

.x-marker,
.circle-marker {
  pointer-events: none;
}

.x-marker {
  height: 80%;
  width: 80%;
}

.circle-marker {
  width: 90%;
  height: 90%;
}

.players {
  display: flex;
  justify-content: space-between;
  width: min(60vw, 550px);
  margin-bottom: min(5vw, 35px);
}

.player {
  height: 150px;
  width: 100px;
  background-color: var(--clr-violet-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.6rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.801);
  padding: 30px;
  border-radius: 25px;
  border: 5px solid var(--clr-violet-light);
  user-select: none;
  transition: all 0.4s;
}

.player--scooby > p {
  position: relative;
  top: 10px;
}

.highlight-current-player {
  border: 5px solid yellowgreen !important;
}

.circle-icon {
  width: 60%;
  position: relative;
  bottom: 5px;
}

.x-icon {
  width: 50%;
}

.profile-picture {
  width: 80%;
  border-radius: 50%;
}

.overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-image: url("images/game_score_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: inherit;
}

.overlay-display-on {
  display: block;
}

.restart-btn {
  position: absolute;
  text-align: center;
  text-justify: center;
  bottom: -40px;
  left: 40%;
  width: 15%;
  height: 15%;
  border: none;
  border-radius: 50%;
  background-image: linear-gradient(
    240deg,
    rgba(235, 21, 80, 1) 0%,
    rgba(255, 208, 50, 1) 100%
  );
  cursor: pointer;
  border: 3px solid var(--clr-violet-dark);
}

.game-end-image {
  width: 50%;
  height: 50%;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border: 10px solid var(--clr-violet-dark);
  position: absolute;
  top: 25%;
  left: 22%;
  text-align: center;
  margin: auto;
}

.game-results {
  font-size: 5rem;
  color: white;
  opacity: 0.8;
  position: relative;
  top: 5%;
  left: 30%;
}

.restart-icon {
  width: 70%;
  margin-top: 5px;
  transition: all 0.4s ease-out;
}

.restart-icon:hover {
  transform: rotate(360deg);
}

@media only screen and (max-width: 650px) {
  .container {
    gap: 8px;
    padding: 8px;
  }
  .player {
    font-size: 1.6rem;
    padding: 10px;
  }

  .restart-btn {
    bottom: -30px;
    width: 20%;
    height: 20%;
  }

  .game-results {
    font-size: 3rem;
  }
}
