@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap");

* {
  margin: 0;
}

:root {
  --clr-violet-light: #6649c1;
  --clr-violet-dark: #332167;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(22, 16, 45);
  font-family: "Dongle", sans-serif;
}

.container {
  height: 70vw;
  width: 70vw;
  max-width: 600px;
  max-height: 600px;
  background-color: var(--clr-violet-light);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
  padding: 15px;
  border-radius: 20px;
}

.grid-cell {
  background-color: var(--clr-violet-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  transition: all 0.2s;
  cursor: pointer;
  user-select: none;
}

.grid-cell:hover {
  transform: scale(0.95);
}

.x-marker,
.circle-marker {
  pointer-events: none;
}

.x-marker {
  height: 80%;
  width: 80%;
}

.circle-marker {
  width: 90%;
  height: 90%;
}

.players {
  display: flex;
  justify-content: space-between;
  width: min(60vw, 450px);
  margin-bottom: min(5vw, 35px);
}

.player {
  height: min(25vw, 180px);
  width: min(20vw, 140px);
  background-color: var(--clr-violet-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.6rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.801);
  padding: min(2vw, 60px);
  border-radius: 25px;
  border: 5px solid var(--clr-violet-light);
}

.player:hover {
  border: 5px solid yellowgreen;
}

.circle-icon {
  width: 35%;
}

.x-icon {
  width: 30%;
}

.profile-picture {
  width: 50%;
  border-radius: 50%;
}

@media only screen and (max-width: 450px) {
  .container {
    gap: 10px;
    padding: 10px;
  }
}
